<div class="container mt-5">
    <div class="row">
      <div class="col-md-6">
        <!-- Product Image -->
        <img src="https://picsum.photos/seed/picsum/600/300" class="img-fluid" alt="Produit">
      </div>
      <div class="col-md-6">
        <!-- Product Details -->
        <h2>Produit Factice</h2>{{ texteMFE }}
        <p>Description détaillée du produit.</p>
        <h3 class="text-warning">50€</h3>
        <div class="quantity d-flex mt-3">
          <button (click)="ajoutPanier()" class="btn btn-primary btn-lg my-3">Ajouter au panier</button>
          <button (click)="supPanier()" class="btn btn-primary btn-lg my-3">Supprimer du panier</button>
        </div>
      </div>
    </div>
  </div>
<router-outlet></router-outlet>